<div class="container">
	<div class="container">
		<span>For admin</span>
		<a asp-area="" asp-controller="Staff" asp-action="WorkWithDirectory">- Working with directories</a>
		<a asp-area="" asp-controller="Staff" asp-action="WorkWithManagers">- Working with managers</a>
	</div>

	<form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
		<button type="submit" class="btn btn-secondary">Logout</button>
	</form>
</div>