@using ApplicantPersonalAccount.Common.DTOs.Managers
@{
	List<ManagerDTO> managers = ViewBag.Managers;
}
<div class="container">
	<a class="navbar-brand" asp-area="" asp-controller="Staff" asp-action="CreateManager">Create Manager</a>

	<span>Managers and Main managers:</span>

	@foreach (var manager in managers)
	{
		<div class="manager-container">

			<div class="manager">
				<span>@manager.Name</span>
				<span>@manager.Email</span>
				<span>@manager.Role</span>
			</div>

			<div class="manager-actions-container">

				<form id="delete-manager-@manager.Id" asp-area=""
				asp-controller="Staff" asp-action="DeleteManager" method="post">
					<a href="#" onclick="document.getElementById('delete-manager-@manager.Id').submit()">Delete</a>
				</form>

			</div>
		</div>
	}
</div>